<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="/css/hbs.css" rel="stylesheet" type="text/css"/>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {{{headerTags}}}
</head>
<body>
   {{! body is a special identifier that replaces output of view  }}
   {{{body}}}

   <script>
    $(".buy-button").click(function () {
        // Code to be executed when the button is clicked
        console.log(this.id);
    });

    console.log('fşjakdsşf');



   </script>
</body>
</html>

